.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs .dialogItem {
    padding: 10px;
}
 .dialog a {
     color: black;
     font-size: 20px;
     text-decoration: none;

}
.dialog a.active {
    color: darkslategray;
}
.dialog img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}


.messages {
    padding: 10px;

}
.message {
    border-style: solid;
}